@{
    ViewData["Title"] = "Avarite.io";
}

<div class="text-center">
    <h1 class="display-4">Avarite.io</h1>
    <p></p>
</div>


<div class="image-container">
    <img src="~/images/product-logos.png" />
</div>
   
